.game-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.banner {
    position: relative; 
    height: 400px;
    width: 100%;
}

.banner-img {
  height: 100%;
  width: 100%;
  box-shadow: 0px 12px 10px black;
}

html {
    background-color:aliceblue;
}

.banner-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    color: black;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(226, 222, 222, 0.1);
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.menu a {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.introduction {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

.quote {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}

.cite {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote-card {
    position: relative;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    height: 100px;
    background-color: white;
    border-radius: 15%;
    box-shadow: 0px 0px 30px gray;
}

.game-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.game-title {
     display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.game-info {
   display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif; 
    gap: 12px;
}

footer {
    background-color: white;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.reflect-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reflect-title {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.reflect-text {
    padding-left: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.reflect-image {
padding-right: 20px;
width: 200px;
height: auto;
}