/* Base styling */

/* Change background and font styles across website */
html {
  background-color: aliceblue;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Banner and navigation */

.banner {
  position: relative;
  height: 400px;
  width: 100%;
}

/* Banner image */
.banner-img {
  height: 100%;
  width: 100%;
  box-shadow: 0px 12px 10px black;
}

/* Banner text */
.banner-text {
  display: flex;
  position: absolute;
  inset: 0;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  color: black;
  font-size: xx-large;
  background: rgba(226, 222, 222, 0.1);
}

/* Menu styling */
.menu {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  justify-content: center;
  gap: 20px;
}

.menu a {
  font-size: large;
  color: black;
  transition: all 0.3s ease;
}

.menu a:hover {
  color:coral
}

/* Active and non-active for menu */
.active {
  text-decoration: underline;
}

.non-active {
  text-decoration: none;
}

/* Introduction text styling */
.introduction {
  font-size: medium;
  text-align: center;
  padding-top: 40px;
}

/* Quote card styling */
.quote-card {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  height: 100px;
  background-color: white;
  border-radius: 15%;
  box-shadow: 0px 0px 30px gray;
  transition: all 0.3s ease;
}

.quote-card:hover {
  transform: scale(1.20);
}

/* Quote styling */
.quote {
  font-size: medium;
  margin-top: 0;
}

/* Individual citation styling */
.cite {
  font-size: medium;
  padding-left: 120px;
}

/* Reflection area styling */
.reflect-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

/* Reflection title */
.reflect-title {
  padding-left: 20px;
}

/* Reflection text */
.reflect-text {
  padding-left: 20px;
  font-size: medium;
  margin-top: 0;
}

/* Reflection image */
.reflect-image {
  padding-right: 20px;
  width: 200px;
  height: auto;
  transition: all 0.3s ease;
}

.reflect-image:hover {
  transform: scale(1.20);
}

/* Game area section */
.game-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 20px;
}

/* Game instructions */
.game-instructions {
  text-align: center;
  align-items: center;
  font-size: medium;
}

/* Game title */
.game-title {
  text-align: center;
  transition: all 0.3s ease;
}

.game-title:hover {
  color: coral;
}

/* Game information styling */
.game-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* Game restart button */
.game-button {
  display: block;
  margin: 15px auto;
}

/* Cards styling to be matched */
.card {
  background: navajowhite;
  border: 2px solid #333;
  border-radius: 12px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

/* When card is flipped */
.card.hidden {
  background: #333;
  color: transparent;
}

/* When card is matched */
.card.matched {
  opacity: 0.6;
  cursor: default;
}

/* High scores and how to pages */

/* Centers content in a card */
.highscore-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: medium;
  padding-top: 40px;
  padding-bottom: 200px;
}

/* High score title styling */
.highscore-title {
  transition: all 0.3s ease;
}

.highscore-title:hover {
  color: coral;
}

/* Highscore list layout */
#highscores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* How to card styling */
.howto-card {
 width: 500px;
  margin: 30px auto;
  padding: 20px;
  height: 420px;
  background-color: white;
  border-radius: 15%;
  box-shadow: 0px 0px 30px gray;
  padding-left: 40px;
  transition: all 0.3s ease;
}

.howto-card:hover {
  transform: scale(1.20);
}

/* Adds spacing between the list points */
.list {
padding-top: 20px;
}

/* Footer styling */

/* Footer layout */
footer {
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Copyright styling */
.copyright {
  text-align: left;
  padding-left: 150px;
}

/* Socials styling */
.socials {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 15px;
}

/* Contact styling */ 
.contact {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}

/* Styling for tablet style screen <768px */

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .banner-text {
    font-size: medium;
  }
  
  .menu {
    padding: 10px;
    font-size: small;
  }

  .quote-card {
    width: 50%;
    max-width: 50%;
  }

  .howto-card {
    width: 60%;
    max-width: 60%;
    height: auto;
  }
 /* make sure the hover does no touch sides or overlap on tablet size */
  .howto-card:hover {
    transform: scale(1.10);
  }

  .copyright {
    padding-left: 80px;
  }
/* make sure game area is 3 columns not 4 */
  .game-area {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    padding-right: 10px;
  }
}